.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;

    p {
        text-align: start;
    }

    &-head {
        width: 100%;
        padding: 24px;
    }
}
