.card {
    // margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    max-width: 40vw;
    border: 2px solid #eee;
    margin-top: 24px;

    &:last-child {
        margin-bottom: 24px;
    }
}