.count-heading {
    font-size: 24px;
}
.head-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ul {
        display: flex;
        font-size: 24px;

        li {
            margin-left: 8px;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: #0000FF;
            }
        }
    }
}
.list {
    a {
        text-decoration: none;
    }
}